#### List Excercise

List is ordered collections of item,
it's changeable and allow the duplicate element

In [1]:
a = ['John','FT','Ram','Jenny']

print(a)

['John', 'FT', 'Ram', 'Jenny']

Find the length of list

In [2]:
print(len(a))

4

List Items can be of any data type

In [3]:
list1 = ['apple','banana','chery']
list2 = ['2','4','8','9']
list3 = [True,False,True,False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'chery']
['2', '4', '8', '9']
[True, False, True, False]

List can contain different data type

In [4]:
list2 = ['apple','23','banana','45',False]
print(list2)

['apple', '23', 'banana', '45', False]

In [5]:
print(type(list2))

<class 'list'>

Access the list item using index .  Index starts with 0 and end with length(list2)-1

In [6]:
list2[1]

'23'

In [7]:
print(list2[4])

False

In [8]:
print(list2[-2:-1])

['45']

-1 refers the last item and -2 refers the second item

In [9]:
print(list2[-4:-3])

['23']

In [10]:
print(list2[1:])

['23', 'banana', '45', False]

In [11]:
print(list2[:2])

['apple', '23']

In [12]:
thelist = ["apple","banana","cherry"]
if "apple"  in thelist:
    print("Yes,'apple is the thelist'")

Yes,'apple is the thelist'

Change item value

In [13]:
list2[1] = "Kiwi"
print(list2)

['apple', 'Kiwi', 'banana', '45', False]

In [14]:
list2[1:2] = ["Grapes","Pineapple"]
print(list2)

['apple', 'Grapes', 'Pineapple', 'banana', '45', False]

Insert() an item at specified position

In [15]:
list2.insert(2,"Watermelon")
print(list2)

['apple', 'Grapes', 'Watermelon', 'Pineapple', 'banana', '45', False]

append() method the append an item

In [16]:
thelist = ["The","Doctor","is","so","famous"]
list2 = ["Anjali","is","good","girls"]
thelist.append(list2)
print(thelist)

['The', 'Doctor', 'is', 'so', 'famous', ['Anjali', 'is', 'good', 'girls']]

In [17]:
thelist.extend(list2)
print(thelist)

['The', 'Doctor', 'is', 'so', 'famous', ['Anjali', 'is', 'good', 'girls'], 'Anjali', 'is', 'good', 'girls']

In [18]:
thelist.pop(1)

'Doctor'

In [19]:
thelist.pop(2)

'so'

In [20]:
print(thelist)

['The', 'is', 'famous', ['Anjali', 'is', 'good', 'girls'], 'Anjali', 'is', 'good', 'girls']

del keyword will delete the specified index

In [21]:
del thelist[0]
print(thelist)

['is', 'famous', ['Anjali', 'is', 'good', 'girls'], 'Anjali', 'is', 'good', 'girls']

In [22]:
del thelist

del method deleted the list

In [23]:
print(thelist)

NameError: name 'thelist' is not defined

yes , so when we tried to print the list it is giving the error that list is deleted so unable to find it

#### Loop Through a List

In [24]:
a = [1,"apple",32,56]
for i in a:
    print(i)

1
apple
32
56

we can also loop through the list items by referring the index number

In [25]:
for i in range(len(a)):
    print(a[i])

1
apple
32
56

In [26]:
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [27]:
lst = ["apple","grapes","pineapple","apple"]
new =[]
for i in lst:
    if "a" in i:
        new.append(i)
print(new)

['apple', 'grapes', 'pineapple', 'apple']

List objects have a sort() method to sort the list in alphanumerical, ascending,by default

In [28]:
lst.sort()
print(lst)

['apple', 'apple', 'grapes', 'pineapple']

If we want descending order ,we apply reverse = True

In [29]:
lst.sort(reverse=True)

In [30]:
print(lst)

['pineapple', 'grapes', 'apple', 'apple']

sort the list how close the number is to 40

In [31]:
def myfunc(n):
    return abs(n-40)
lst = [100,240,50,65,23,90,120]
lst.sort(key=myfunc)
print(lst)

[50, 23, 65, 90, 100, 120, 240]

sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters

In [32]:
string =  ["apple","banana","cherry","Kiwi"]
string.sort()
print(string)

['Kiwi', 'apple', 'banana', 'cherry']

We  use the copy method and list built-in function to copy the list

In [33]:
newlist = []
newlist = string.copy()
print(newlist)

['Kiwi', 'apple', 'banana', 'cherry']

In [34]:
newlist = list(string)
print(newlist)

['Kiwi', 'apple', 'banana', 'cherry']

###### We concatenate two or more lists in python using +

In [40]:
lst = []
lst1= []
n = int(input("Enter a number"))
for i in range(0,n):
    ele = int(input())
    lst.append(ele)

n1 = int(input("Enter a number"))
for i in range(0,n1):
    
    ele = int(input())
    lst1.append(ele)
#join the list
answer = lst+lst1
print(answer)

Enter a number5
1
2
3
4
5
Enter a number5
11
12
13
14
15
[1, 2, 3, 4, 5, 11, 12, 13, 14, 15]

There is another way to join the list

In [43]:
A = [1,2,3,4,5]
B = [34,45,31,21,25]

for x in B:
    A.append(x)
print(A)

[1, 2, 3, 4, 5, 34, 45, 31, 21, 25]

In [44]:
A.extend(B)
print(A)

[1, 2, 3, 4, 5, 34, 45, 31, 21, 25, 34, 45, 31, 21, 25]